main {
  margin: 0 auto;
  width: 60vw;
}

.personal-info {
  padding: 0 20px 0px 20px;
  background-color: #FFF;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 75vh;
}

body {
  background-image: url('./img-01.png'), url('./img-02.png');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.highlight h1 {
  text-align: center;
  margin: 0;
  padding: 50px;
  overflow: hidden;
  color: #fff;
  z-index: 2;
  filter: none;
}

.highlight {
  background-color: #0EBCE9;
}

.allForm {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.botoes {
  padding-top: 10px;
  display: block;
  text-align: center;
}

#resume-summary {
  width: 100%;
}

.alert-p {
  margin-top: 10px;
  text-align: center;
  color: #BB2D3B;
  text-decoration: underline;
  display: none;
}

.residence {
  margin-top: 10px;
}